<!-- Footer Partial Template -->
<footer class="mastfoot mt-auto">
    <div class="inner">
        <!-- <p>Created By <a href="https://medium.com/@pkoulianos">@pkoulianos</a> <a href="https://twitter.com/PKoulianos"><img src="https://img.icons8.com/android/24/000000/twitter.png"></a></p> -->
        <p>Created By <a href="https://finastra.sharepoint.com/:f:/g/Structured/CSLPTransitionIn/Eq7t6_0n4kNBg2aCxZp2XAUBjuc5ahreDEp31c3v4iOSoA">Anton Georgescu (Loan Star Architecture Team)</a> @2020 <a href="http://www.finastra.com">Finastra Corporation <img src="http://localhost:8081/images/finastra-logo.png" style="width:50x;height:40px;"></a></p>
    </div>
</footer>
