<!-- Navigation Partial Template -->
<header class="masthead mb-auto">
    <div class="inner">
        <span><h3 class="masthead-brand"><img src="http://localhost:8081/images/aglogo.png" style="width:50x;height:40px;">&nbsp;&nbsp;COMP-z</h3></span>
        <nav class="nav nav-masthead justify-content-center">
            <a id='home' class="nav-link" href="/">Home</a>
            <a id='logspoc' class="nav-link" href="/logspoc">Data Logs (POC)</a>
            <a id='logs' class="nav-link" href="/logspersin">Data Logs (Sample)</a>
            <!-- <a id='deltahooks' class="nav-link" href="/deltahooks">Data Changes</a> -->
            <a id='references' class="nav-link" href="/references">References</a>
            <a id='links' class="nav-link" href="/links">Useful Links</a>
            <!-- <a id='list' class="nav-link" href="/list">List</a>
            <a id='table' class="nav-link" href="/table">Table</a>
            <a id='form' class="nav-link" href="/form">Form</a> -->
        </nav>
    </div>
</header>
