<%- include('../template/head')-%>

<body class="text-center">
    <div class="cover-container d-flex w-100 h-100 p-3 flex-column">
        <%- include('../template/nav')-%>
        <main role="main" class="inner cover">
            <h4 class="cover-heading">Configuration and Operations Monitoring Portal for IBM z Systems (COMP-z)</h4>
            <p class="lead">Manage Delta Hooks running in IBM zO/S</p>
            <p class="lead">
                <a href="https://finastra.sharepoint.com/:w:/r/Structured/CSLPTransitionIn/Shared%20Documents/Architecture/Architecture%20Team/Legacy%20Systems/MF%20-%20Modernization%20Roadmap%20-%20List%20of%20Candidate%20Components%20and%20Tools.rtf?d=wfc42067228b94abba124069aef0d07be&csf=1&web=1" class="btn btn-lg btn-secondary">Read More @ MF-Modernization Roadmap-List of Candidate Components and Tools</a>
            </p>
            <br/>
            <p><a href="https://getbootstrap.com/docs/4.0/examples/cover/">UX powered by Cover Template for Bootstrap</a></p>
        </main>
        <%- include('../template/footer')-%>
    </div>
</body>
<script>
    window.onload = function() {
        document.getElementById('home').classList.add('active');
      };
</script>
</html>
